.header{
    display: flex;
    justify-content: space-between;
    margin: 1.75rem auto 3.5rem;
    max-width: 74rem;
    width: calc(100vw - 6rem);
    min-height: 42px;
}

@media screen and (max-width: 1030px){
    .header{
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 890px){
    .header{
        width: calc(100vw - 3rem);
    }
}

@media screen and (max-width: 620px){
    .header{
        width: calc(100vw - 2rem);
        margin-top: 1rem;
    }
}
