.place__text{
    display: flex;
    flex-direction: column;
    gap: 1.625rem;
    flex-basis: 47%;
    min-width: min-content;
}


@media screen and (max-width: 620px){
    .place__text{
        max-width: calc(100vw - 32px);
        font-size: 1em;
        line-height: 1.63rem;
        gap: 1.563rem;
    }
}

