.cover{
    max-width: 1184px;
    margin: 0 auto 5.75rem;
    height: 100vh;
    max-height: 740px;
}

@media screen and (max-width: 1030px){
    .cover{
        width: 100%;
    }
}

@media screen and (max-width: 890px){
    .cover{
        margin-bottom: 5.5rem;
    }
}

@media screen and (max-width: 620px){
    .cover{
        margin-bottom: 4rem;
    }
}