.cover__background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: contain;
    align-items: center;
    width: 100%;
    min-height: 740px;
    max-height: 100%;
    gap: 2rem;
    position: relative;
}

@media screen and (max-width: 1030px){
    .cover__background{
        min-height: 640px;
    }
}

@media screen and (max-width: 890px){
    .cover__background{
        min-height: 480px;
    }
}

@media screen and (max-width: 620px){
    .cover__background{
        min-height: 200px;
    }
}