.place{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 3rem;
}

@media screen and (max-width: 1030px){
    .place{
        gap: 2rem;
    }
}

@media screen and (max-width: 890px){
    .place{
        gap: 1.75rem;
    }
}

@media screen and (max-width: 620px){
    .place{
        gap: 0;
        flex-direction: column;
        align-items: center;
    }
}