.intro__title{
    font-size: 3.375rem;
    font-weight: 900;
    line-height: 3.625rem;
    margin: 0 0 2.5rem;
    color: #FFFFFF;
}

@media screen and (max-width: 620px){
    .intro__title{
        font-size: 2rem;
        line-height: 2.188rem;
    }
}